<!DOCTYPE html>
<html>
<head>
<title>Chat</title>
<style type="text/css">
	.can{
		width: 170px;
		height: 170px;
	}
</style>
<script>
    
    var v_imgs;
	var v_disp;
	var users = [];
	var flag_ing = false;
	
	var s1i = -1;
	var s1j = -1;
	var s1v = -1;
	var s2i = -1;
	var s2j = -1;
	var s2v = -1;
	
	var oneClick;
	var twoClick;
	
	var step = 0;
	var flagover = 0;
	
	
	var img2D = [
		[1,1,2,2],
		[3,3,4,4],
		[5,5,6,6],
		[7,7,8,8]
	];
	
	var cvr2D = [
		[0,0,0,0],
		[0,0,0,0],
		[0,0,0,0],
		[0,0,0,0]
	];
	
	var disp2D = [
		[0,0,0,0],
		[0,0,0,0],
		[0,0,0,0],
		[0,0,0,0]
	];
	

	var client_id = Date.now()
    var ws = new WebSocket(`ws://192.168.142.15:8000/ws/${client_id}`);
	
    ws.onmessage = function(event) {
    	var txt = event.data;
    	console.log("onmessage", txt);
    	
    	var arr_txt = txt.split(":");
    	if(arr_txt[1] == ""){
    		return;
    	}
    	
    	if(arr_txt[0] == "ready"){
    		reiv_ready(arr_txt[1]);
    	}
    	
    	if(arr_txt[0] == "start"){
    		reiv_start();
    	}
    	
    	if(arr_txt[0] == "score"){
    		reiv_score(arr_txt[1], arr_txt[2]);
    	}
    	
    	if(arr_txt[0] == "display"){
    		reiv_display(arr_txt[1], arr_txt[2]);
    	}
    	
    	if(arr_txt[0] == "win"){
    		reiv_win(arr_txt[1]);
    	}
    };
    
    function reiv_ready(user){
    	var obj_users = document.querySelectorAll(".user");
    	
//     	users.push(user);
//     	users[users.length-1].innerHTML = user
    	
//     	for(let i=0; i<users.length; i++){
//     		if(users[i].innerHTML == "_"){
//     			users.push(user);
//     			users[i].innerHTML = user;
//     			break;
//     		}
//     	}

		var idx = indexUser(user);
		if(idx == -1){
			users.push(user);
		}
		
		for(var i=0; i<users.length; i++){
			obj_users[i].innerHTML = users[i];
		}
    }

	var box_height=35;
	var box_width = 65;
	var box_top=10;
	var box_left=20;
	
	
    function reiv_start(){
    	flag_ing = true;
    	var obj_scores = document.querySelectorAll(".score");
    	var obj_cans = document.querySelectorAll(".can");
    	for(let p=0; p<users.length; p++){
    		obj_scores[p].innerHTML = 16;
    		var ctx = obj_cans[p].getContext('2d');
    		for(i=0;i<4;i++){
    			for(j=0;j<4;j++){
    				ctx.fillStyle="#000000";
    				
    				x=box_left + j*box_width;
    				y=box_top + i*box_height;
    				ctx.fillRect(x, y, box_width-5, box_height-2);
    			}
    		}
    	}
    	
    }
    
    function reiv_score(user, score){
    	var obj_scores = document.querySelectorAll(".score");
    	var idx = indexUser(user);
    	
    	obj_scores[idx].innerHTML = score;
    }
    
    function reiv_display(user, cvr2D){
    	var strArr = cvr2D.split(",");
    	var obj_cans = document.querySelectorAll(".can");
    	var idx = indexUser(user);
    	
		var ctx = obj_cans[idx].getContext('2d');
		
		for(i=0;i<4;i++){
			for(j=0;j<4;j++){
				if(strArr[i*4+j]==1)
					ctx.fillStyle="#ffff00";
				else
					ctx.fillStyle="#000000";
				
				x=box_left + j*box_width;
				y=box_top + i*box_height;
				ctx.fillRect(x, y, box_width-5, box_height-2);
			}
		}
    }
    
    function reiv_win(user){
    	alert(user + "가 이겼습니다.");
    	flag_ing = false;
    }
    
    function findUser(user){
    	for(let i=0; i<users.length; i++){
    		if(users[i] == user){
    			return 1;
    		}
    	}
    	return 0;
    }
    
    function indexUser(user){
    	var idx = -1;
    	for(var i=0; i<users.length; i++){
    		if(user == users[i]){
    			return i;
    		}
    	}
    	return idx;
    }
    
    function send_ready(){
		var obj_user = document.querySelector("#user");
		var user = obj_user.value;
// 		if(findUser(user)){
//     		return;
//     	}
		sendMessage("ready:"+user);
	}
    
    function send_start(){
    	sendMessage("start");
    }
    
    function sendMessage(txt) {
    	console.log("sendMessage");
        ws.send(txt);
    };
    
	function myinit(){
		v_imgs = document.querySelectorAll("img");
		v_disp = document.querySelector("#mydisp");
		render();
		shuffle();
		patchIJEvent();
	}
	

	function setDisp2D(){
		for(let i=0; i<cvr2D.length; i++){
			for(let j=0; j<cvr2D[i].length; j++){
				if(cvr2D[i][j] == 1){
					disp2D[i][j] = img2D[i][j];
				} else{
					disp2D[i][j] = 0;
				}
			}
		}

		if(step == 0){
			disp2D[s1i][s1j] = s1v;
		}
		if(step == 1){
			disp2D[s1i][s1j] = s1v;
			disp2D[s2i][s2j] = s2v;
		}
	}
	
	function myclick(e){
		if(!flag_ing){
			return;
		}
		if(step == 2){
			return;
		}
		
		var arr2 = e.target.alt.split(",");
		var i = parseInt(arr2[0]);
		var j = parseInt(arr2[1]);

		if(step == 0){
			s1i = i;
			s1j = j;
			s1v = img2D[i][j];
		}
		if(step == 1){
			if(i == s1i && j == s1j){
				return;
			}
			s2i = i;
			s2j = j;
			s2v = img2D[i][j];
		}
		
		setDisp2D();
		
		render();
		nextStep();
		
		if(step == 2){
			setTimeout(goStep3,500);
		}
	}
	
	function goStep3(){
		
		if(s1v == s2v && (s1i != s2i || s1j != s2j)){
			cvr2D[s1i][s1j] = 1;
			cvr2D[s2i][s2j] = 1;
		}
		setDisp2D();
		render();
		
		
		var cnt_final = 0;
		for(let i=0; i<cvr2D.length; i++){
			for(let j=0; j<cvr2D.length; j++){
				if(cvr2D[i][j] == 1){
					cnt_final++;
				}
			}
		}
		
		v_disp.innerHTML = 16 - cnt_final;
		
		var obj_user = document.querySelector("#user");
		sendMessage("score:"+obj_user.value+":"+(16 - cnt_final));
		
		sendMessage("display:" + obj_user.value + ":" + (cvr2D + ""));
		
		if(cnt_final == 16){
			sendMessage("win:" + obj_user.value);
		}
		
		s1i = -1;
		s1j = -1;
		s1v = -1;
		s2i = -1;
		s2j = -1;
		s2v = -1;
		
		nextStep();
	}
	
	function nextStep(){
		
		step++;
		if(step > 2){
			step = 0;
		}
	}

	function patchIJEvent(){
		for(let i=0; i<4; i++){
			for(let j=0; j<4; j++){
				v_imgs[i*4+j].alt= i+","+j;
			}
		}
		for(let i=0; i<v_imgs.length; i++){
			v_imgs[i].addEventListener("click", function(event) { myclick(event); });			
		}
		
	}
	
	function shuffle(){
		for(let i=0; i<100; i++){
			var rndi = Math.floor(Math.random()*4);
			var rndj = Math.floor(Math.random()*4);
			var a = img2D[rndi][rndj];
			var b = img2D[0][0];
			img2D[0][0] = a;
			img2D[rndi][rndj] = b;
		}
		console.log(img2D);
	}
	
	function render(){
		for(let i=0; i<img2D.length; i++){
			for(let j=0; j<img2D[i].length; j++){
				v_imgs[i*4+j].src=`/static/img/${disp2D[i][j]}.png`;
			}
		}
	}
	
	
</script>
</head>
<body onload="myinit()">
<table border="1px">
	<tr>
		<td>
			<table>
				<tr>
					<td>남은 개수</td>
					<td>
						<div id="mydisp">16</div>
					</td>
					<td>
						<input type="text" id="user"/>
					</td>
					<td>
						<input type="button" id="ready" value="ready" onclick="send_ready()"/>
					</td>
					<td>
						<input type="button" id="start" value="start" onclick="send_start()"/>
					</td>
				</tr>
			</table>
			<table>
				<tbody id="mytbody">
					<tr>
						<td><img src="/static/img/0.png"/></td>
						<td><img src="/static/img/0.png"/></td>
						<td><img src="/static/img/0.png"/></td>
						<td><img src="/static/img/0.png"/></td>
					</tr>	                       
					<tr>                           
						<td><img src="/static/img/0.png"/></td>
						<td><img src="/static/img/0.png"/></td>
						<td><img src="/static/img/0.png"/></td>
						<td><img src="/static/img/0.png"/></td>
					</tr>	                       
					<tr>                           
						<td><img src="/static/img/0.png"/></td>
						<td><img src="/static/img/0.png"/></td>
						<td><img src="/static/img/0.png"/></td>
						<td><img src="/static/img/0.png"/></td>
					</tr>	                       
					<tr>                           
						<td><img src="/static/img/0.png"/></td>
						<td><img src="/static/img/0.png"/></td>
						<td><img src="/static/img/0.png"/></td>
						<td><img src="/static/img/0.png"/></td>
					</tr>	
				</tbody>
			</table>
		</td>
		<td>
			<table border="1px">
				<tr>
					<td><span class="user">_</span> <span class="score">_</span></td>
					<td><span class="user">_</span> <span class="score">_</span></td>
					<td><span class="user">_</span> <span class="score">_</span></td>
					<td><span class="user">_</span> <span class="score">_</span></td>
					<td><span class="user">_</span> <span class="score">_</span></td>
					<td><span class="user">_</span> <span class="score">_</span></td>
				</tr>
				<tr>
					<td><canvas class="can"></canvas></td>
					<td><canvas class="can"></canvas></td>
					<td><canvas class="can"></canvas></td>
					<td><canvas class="can"></canvas></td>
					<td><canvas class="can"></canvas></td>
					<td><canvas class="can"></canvas></td>
				</tr>
				<tr>
					<td><span class="user">_</span> <span class="score">_</span></td>
					<td><span class="user">_</span> <span class="score">_</span></td>
					<td><span class="user">_</span> <span class="score">_</span></td>
					<td><span class="user">_</span> <span class="score">_</span></td>
					<td><span class="user">_</span> <span class="score">_</span></td>
					<td><span class="user">_</span> <span class="score">_</span></td>
				</tr>
				<tr>
					<td><canvas class="can"></canvas></td>
					<td><canvas class="can"></canvas></td>
					<td><canvas class="can"></canvas></td>
					<td><canvas class="can"></canvas></td>
					<td><canvas class="can"></canvas></td>
					<td><canvas class="can"></canvas></td>
				</tr>
				<tr>
					<td><span class="user">_</span> <span class="score">_</span></td>
					<td><span class="user">_</span> <span class="score">_</span></td>
					<td><span class="user">_</span> <span class="score">_</span></td>
					<td><span class="user">_</span> <span class="score">_</span></td>
					<td><span class="user">_</span> <span class="score">_</span></td>
					<td><span class="user">_</span> <span class="score">_</span></td>
				</tr>
				<tr>
					<td><canvas class="can"></canvas></td>
					<td><canvas class="can"></canvas></td>
					<td><canvas class="can"></canvas></td>
					<td><canvas class="can"></canvas></td>
					<td><canvas class="can"></canvas></td>
					<td><canvas class="can"></canvas></td>
				</tr>
				<tr>
					<td><span class="user">_</span> <span class="score">_</span></td>
					<td><span class="user">_</span> <span class="score">_</span></td>
					<td><span class="user">_</span> <span class="score">_</span></td>
					<td><span class="user">_</span> <span class="score">_</span></td>
					<td><span class="user">_</span> <span class="score">_</span></td>
					<td><span class="user">_</span> <span class="score">_</span></td>
				</tr>
				<tr>
					<td><canvas class="can"></canvas></td>
					<td><canvas class="can"></canvas></td>
					<td><canvas class="can"></canvas></td>
					<td><canvas class="can"></canvas></td>
					<td><canvas class="can"></canvas></td>
					<td><canvas class="can"></canvas></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</body>
</html>